@import "../mixin";

/* 아코디언 */
.accordion { border-top: 1px solid var(--gray-50);
	details { padding:.4rem 0; border-bottom: 1px solid var(--gray-20); 
		.category { font-size: 1.7rem; font-weight: 700; color: var(--primary-50); @include circle(3.2rem, var(--gray-0)); border: 1px solid var(--gray-20);}

		&[open] { padding-bottom: 2.4rem;
			.title {color: var(--secondary-80); }
			.arrow { transform: rotate(180deg); }
		}
	}
	
	.aco-title { display: block; padding: 2rem 3.6rem; cursor: pointer; position: relative;
		&:hover { text-decoration:none; background: var(--secondary-5); transition: 0.2s;}
		.notice { font-size: 1.5rem; background: var(--gray-5); @include flex(null, center, center, column); width: 6rem; min-width:6rem; height: 5.7rem; margin: -1rem 2rem -1rem -2rem; font-size: 1.3rem; font-weight: 700; color: var(--gray-70);
			&::before { @include icon("\f2a2"); font-size: 1.7rem;}
		}
		.title { font-size: 2.4rem; font-weight: bold;}
		.arrow { @include pos(rt, 0, 1.6rem); font-size: 2.8rem; transition: .25s; }
	}
	.aco-cont { padding: 4rem; @include flex(4rem); background: var(--gray-5);
		.category { background: var(--primary-50); border-color: transparent; color: var(--gray-0);}
		.cont { width: 100%;
			p { margin-bottom: 1rem;}
		}
	}		
}

// details로 변경전 아코디언 
// .accordion {
// 	border-top: 1px solid var(--gray-90);

// 	> li {
// 		.aco-title {
// 			@include flex($ai:center); border-bottom: 1px solid var(--gray-30); padding: 1rem 2rem; width: 100%;
// 			&:hover { text-decoration:none; background: var(--secondary-5); transition: 0.2s;}

// 			.title { font-size: 2rem; }
// 			.arrow { margin-left: auto; font-size: 3rem; background: var(--gray-0); border: 1px solid #dedede; border-radius: 50%; padding: .6rem; transition: .25s; }
// 		}
// 		.aco-cont { @include inactive(.3s); padding: 0 4rem;}

// 		&.active {
// 			.arrow { transform: rotate(180deg); }
// 			> .aco-cont { @include active; padding: 4rem; background-color: #fafafa;  border-bottom: 1px solid var(--gray-30); }
// 		}
// 	}		
// }

@include media($pad) {
	.accordion {
		.aco-title { padding-left: 2rem;}
		.aco-cont { padding: 2rem; }
	}
}
