@import "../mixin";


/* modal_popup */

.dialog-wrap {display:none;
	&:after{content: ""; display: block; width: 200%; height: 100vh; background: rgba(0, 0, 0, 0.7); position: fixed; left: 50%; top: 0; transform: translateX(-50%); z-index: 100;backdrop-filter: blur(1rem);}
}
.dialog {
	position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 101; background: var(--gray-0); min-width: 40rem; border-radius: 0.8rem; overflow: hidden;

	.icon-info,
	.icon-warning { border-radius: 50%; background: var(--warning); width: 10rem; height: 10rem; margin: 0 auto 3rem; @include flex(null, center, center); font-size: 6rem; font-weight: 700; }
	.icon-warning{background: var(--warning); color: var(--gray-0);}
	
	.btn-close { display: block; position: absolute; right: 2rem; top: 2rem; font-size: 2.4rem; 
		i::before { @include icon("\f4c7");}
	}		
	&::backdrop { background: rgb(0 0 0 / .5); }
}
.dialog {
	&-title { border-bottom: 1px solid var(--gray-30); padding: 2rem 3rem; font-size: 2.2rem; font-weight: 700; }
	&-info { font-size: 1.8rem; padding: 1rem; text-align: center; border-bottom: 1px solid #DDD;}
	&-cont { padding: 4rem; background-color: var(--gray-0); }
	&-foot { padding: 2rem 4rem; background: var(--gray-5); text-align: center; }
}

@include media($mobile) {
	.dialog-foot { padding: 2rem; }
}